$snow: rgb(255, 250, 250);
$snow-header: rgb(209, 206, 206);
$bg-nav-color: #b934a7;
$bg-nav-image: linear-gradient(267deg, #a40606 0%, #d98324 77%);
$bg-nav-image-we: linear-gradient(271deg, #a40606 0%, #d98324 77%);
$nav-burger: pink;

$google-color: linear-gradient(rgba(255, 0, 14, 1) 0%, rgba(56, 59, 209, 1) 100%);
